[user]
	name = Adonis Kakoulidis
	email = aklp08@gmail.com

[github]
	user = varemenos

[core]
	editor = nano
	fileMode = false # ignore file right changes
	autocrlf = false # disable autocrlf mode
	excludesfile = /Users/kakoulidis/.gitignore_global
	pager = delta

[diff]
  compactionHeuristic
  colorMoved = default

[delta]
  features = side-by-side line-numbers decorations hyperlinks # need to `export DELTA_PAGER="less -rX"` otherwise everything will look funky
  syntax-theme = "Monokai Extended"
  plus-style = 'syntax bold auto'
  minus-style = 'syntax bold auto'
  hyperlinks-file-link-format = "vscode://file/{path}:{line}"
  navigate = true

[interactive]
  diffFilter = delta --color-only --features=interactive

[log]
	date=short

[push]
	# 'git push' will push the current branch to its tracking branch
	# the default is to push all branches
	default = tracking
	autoSetupRemote = true

[help]
	autocorrect = 1

[fetch]
	prune = true

# starhive setup
[includeIf "gitdir:~/Projects/starhive/"]
	path = ~/Projects/starhive/.gitconfig

[init]
	defaultBranch = main

[pull]
	ff = only

[merge]
  conflictstyle = diff3

[commit]
	template = /Users/kakoulidis/.stCommitMsg


[alias]
	a = add
	ap = add --patch
	b = branch
	bi = bisect
	c = commit
	ca = commit --amend
	cl = clone
	co = checkout
	d = diff
	dc = diff --cached
	ds = diff --staged
	dw = diff --word-diff
	f = fetch
	g = grep
	i = init
	l = log
	lp = log --oneline
	lv = log --oneline --graph
	m = merge
	mc = merge --continue
	ma = merge --abort
	ms = merge --skip
	mv = mv
	p = push
	pf = push --force-with-lease
	pl = pull
	r = reset
	rb = rebase
	rbc = rebase --continue
	rba = rebase --abort
	rbs = rebase --skip
	rm = rm
	s = status
	st = stash
	sh = show
	t = tag
	w = whatchanged
	ws = status -s
  cherrypick = cherry-pick
	cherry = cherry-pick
	cp = cherry-pick
  cpa = cherry-pick --abort
  cpc = cherry-pick --continue
  cps = cherry-pick --skip
