[user]
	name = Adonis Kakoulidis
	email = aklp08@gmail.com

[github]
	user = varemenos

[core]
	editor = nano
	fileMode = false # ignore file rights changes
	autocrlf = false # disable autocrlf mode
	excludesfile = /Users/adonisk/.gitignore_global
	pager = delta

[diff]
  compactionHeuristic

[delta]
  features = side-by-side line-numbers decorations hyperlinks # need to `export DELTA_PAGER="less -rX"` otherwise everything will look funky
  syntax-theme = "Monokai Extended"
  plus-style = 'syntax bold auto'
  minus-style = 'syntax bold auto'

[log]
	date=short

[push]
	# 'git push' will push the current branch to its tracking branch
	# the default is to push all branches
	default = tracking

[alias]
	a = add
	ap = add --patch
	b = branch
	bi = bisect
	c = commit
	ca = commit --amend
	cl = clone
	co = checkout
	d = diff
	dc = diff --cached
	ds = diff --staged
	dw = diff --word-diff
	f = fetch
	g = grep
	i = init
	l = log
	lp = log --oneline
	lv = log --oneline --graph
	m = merge
	mc = merge --continue
	ma = merge --abort
	ms = merge --skip
	mv = mv
	p = push
	pl = pull
	r = reset
	rb = rebase
	rbc = rebase --continue
	rba = rebase --abort
	rbs = rebase --skip
	rm = rm
	s = status
	st = stash
	sh = show
	t = tag
	w = whatchanged
	ws = status -s
  cherrypick = cherry-pick
	cherry = cherry-pick
	cp = cherry-pick
  cpa = cherry-pick --abort
  cpc = cherry-pick --continue
  cps = cherry-pick --skip

	# show commit log of unique commits of this branch (not on master)
	diffcommitsfrommaster = log --no-merges master..
	# show unified diff of unique commits of this branch
	difffrommaster = diff master...
	# ^^^^ Holy crap two dots vs three dots, so important. https://stackoverflow.com/a/48681527

[help]
	autocorrect = 1

[fetch]
	prune = true

[includeIf "gitdir:~/Projects/Vimla/"]
	path = ~/Projects/Vimla/.gitconfig

# Color set-up
# based on diff-so-fancy's script https://github.com/so-fancy/diff-so-fancy#improved-colors-for-the-highlighted-bits
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	func = 146 bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[init]
	defaultBranch = master
[pull]
	ff = only

# VSCode as difftool

[diff]
    tool = vscode
    colorMoved = default
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE
[difftool]
	prompt = false
